.features-container {
  padding-top: 3rem;
  text-align: center;
  align-items: center;
  border: 1px solid yellow;
}

@include breakpoint(lg) {
  .features-container {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.feature {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid fuchsia;
}

.feature > * {
  border: 1px solid green;
}

.features__icon {
  max-width: revert;
}
