.features-container {
  text-align: center;
  align-items: center;

  @include breakpoint(med) {
    margin-top: -2rem;
    padding-top: 0rem;
  }
  @include breakpoint(lg) {
    margin-top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    column-gap: 3rem;
    padding-inline: 2rem;
  }
  @include breakpoint(xl) {
    margin-top: -10rem;
  }
  @include breakpoint(xxl) {
    margin-top: -15rem;
  }
  //border: 1px solid yellow;
}

.features-container > * {
  height: max-content;
}

.features-container > *:not(:last-child) {
  margin-bottom: 5rem;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }
}

.feature {
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @include breakpoint(med) {
    height: 16rem;
  }
  @include breakpoint(lg) {
    padding-bottom: 0;
  }
  //border: 2px solid fuchsia;
}
/*
.feature > * {
  //border: 1px solid green;
}
*/
.features-icon {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(med) {
    height: 6rem;
  }
  @include breakpoint(lg) {
    height: 8rem;
  }
}

.features-icon img {
  width: 85%;

  @include breakpoint(lg) {
    width: 100%;
  }
}

.features__heading {
  margin-top: 2rem;
}

.features__heading h3,
.features__text p {
  margin: 0;
  padding: 0;
}

.features__text {
  padding: 1rem 2.5rem 0;

  @include breakpoint(med) {
    max-width: 28rem;
  }
  @include breakpoint(lg) {
    font-size: 0.875em;
    padding: 0.5rem 0 0;
  }
  @include breakpoint(xl) {
    max-width: 28rem;
  }
  @include breakpoint(xxl) {
    max-width: 32rem;
  }
}
