.features-container {
  padding-top: 3rem;
  text-align: center;
  align-items: center;
  border: 1px solid yellow;
}

.features-container > * {
  height: max-content;
}

@include breakpoint(lg) {
  .features-container {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid fuchsia;
}

@include breakpoint(lg) {
  .feature {
    padding-bottom: 0;
  }
}

.feature > * {
  border: 1px solid green;
}

.features-icon {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__heading h3,
.features__text p {
  margin: 0;
  padding: 0;
}

.features__text p {
  p
}
