footer {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 18rem 0 0 0;
    background-color: $footerBlue;
    //border: 1px solid tomato;
}

.footer-logo {
    width: 95%;
    padding: 0 0 0 2.5rem;
}

.footer__logo {
    width: 55%;

    @include breakpoint(med) {
        width: 30%;
    }
    @include breakpoint(lg) {
        width:25%;
    }
    @include breakpoint(xl) {
        width: 20%;
    }
    @include breakpoint(xxl) {
        width: 15%;
    }
    //border: 1px solid fuchsia;
}

.footer-information {
    padding-top: 3rem;

    &:not(:last-child) {
        padding: 0 2rem;
    }

    @include breakpoint(xl) {
        display: grid;
        grid-template-columns: 4fr 2fr 1fr 1fr 2fr;
        column-gap: 1rem;
        font-size: 0.75em;

        &:not(:last-child) {
            padding: 0 0 0 2rem;
        }
    }
    //border: 1px solid yellow;
}

.footer-location {
    display: flex;
    margin: 0;
    padding: 3rem 0 0 0;
    //border: 1px solid lime;
}

.location-icon {
    padding-top: 0.1rem;
    padding-right: 1.5rem;
}

.location-directions {
    margin: 0.1rem 0 0 0;
    padding: 0;
    font-size: 1.1em;
    //border: 1px solid navy;
}

.location__directions {
    margin: 0;
    padding: 0;
    max-width: 36rem;
}

.contact-details {
    margin: 0;
    padding: 0;

    @include breakpoint(xl) {
        padding-top: 2rem;
    }
    //border: 1px solid deepskyblue;
}

.footer-phone {
    display: flex;
    padding-top: 1rem;

    @include breakpoint(xl) {
        padding-top: 1.2rem;
    }
}

.phone-icon {
    padding-top: 0.1rem;
    padding-right: 1.5rem;
}

.phone-number {
    margin: 0;
    padding: 0;

    p {
        font-size: 0.75em;
    }
    //border: 1px solid navy;
}

.phone__number {
    margin: 0.2rem 0 0 0;
    padding: 0;
}

.footer-email {
    display: flex;
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: left;
    width: max-content;
    //border: 2px solid navy;
}

.email-icon {
    padding-top: 0.1rem;
    padding-right: 0.5rem;
}

.email-address {
    margin: 0.1rem 0 0 0;
    padding: 0 0 0 1rem;

    p {
        font-size: 0.7em;
    }
    //border: 1px solid navy;
}

.email__address {
    margin: 0;
    padding: 0;
    width: max-content;
}

.footer-links {
    padding: 4rem 0 0 2.5rem;
    font-size: 1.45em;

    @include breakpoint(xl) {
        padding-top: 2.25rem;
    }
}

.links-current {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0 0;
    //border: 1px solid blue;

    a {
        font-size: 0.9em;
    }

    @include breakpoint(xl) {
        padding-top: 2.25rem;

        a {
            font-size: 0.75em;
        }
    }
}

.footer__link:not(first-child) {
    padding: 1rem 0 0 0;
}

.links-info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 0 0 0;
    //border: 1px solid firebrick;

    a {
        font-size: 0.9em;
    }

    @include breakpoint(xl) {
        padding-top: 2.25rem;

        a {
            font-size: 0.75em;
        }
    }
}

.social-icons {
    padding: 6rem 0 2rem;
    text-align: center;

    > * {
        padding: 0 0.25rem;

        ion-icon {
            color: white;
        }
    }

    @include breakpoint(xl) {
        padding-top: 3rem;

        ion-icon {
            width: 1.5rem;
        }
    }

    //border: 1px solid green;
}

.attribution { 
    margin: 6rem 0 0 0;
    padding: 0;
    font-size: 0.6875rem;
    text-align: center;
    height: max-content;
    background-color: rgb(37, 41, 41);
    
    a { 
        font-size: 1em;
        color: hsl(228, 45%, 44%); 
        text-decoration: none;

        &:hover {
            color: blue;
        }
    }
}
    