html {
  font-size: 100%; // allows user to control zoom in own browser
}

*,
*:after,
*:before {
  color: hsla(0, 0%, 100%, 1);
  box-sizing: border-box; // includes padding in width as size changes
}

body {
  margin: 0;
  padding: 0;
  background-color: $mainBlue;
  font-family: $font-body; // Open Sans
  font-size: calc(1rem + 0.75vw); // 16px is the base
  line-height: 1.6; // spacing between lines on screen
}

section {
  background-color: $mainBlue;
}

a,
p {
  color: hsla(0, 0%, 95%, 0.9);
  text-decoration: none;
}

a {
  font-family: $font-title;
  font-size: 0.65em;
}

p {
  padding: 0 2rem;
  font-family: $font-body;
  font-size: 0.8em;
}

h1,
h2,
h3,
h4 {
  padding: 0 2rem;
  font-family: $font-title;
}

h1 {
  font-size: 1.35em;
}

h2 {
  font-size: 1.15625em;
}

h3 {
  font-size: 1.0175em;
}

button {
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, $greenCyan, $lightBlue);
  font-size: 0.8em;
  font-family: $font-title;
  font-weight: 700;
  padding: 1.1rem 5rem;
  border-radius: 1.875rem; // 30px
  color: hsl(0, 0%, 95%);

  &:hover {
    background: linear-gradient(to left, $greenCyan, $lightBlue);
  }
}
