.header {
    background-color: $introBlue;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;

    
    > * {
        border: 2px solid yellow;
    }

    img {
        cursor: pointer;
        width: 5.75rem;
        display: block;
        //min-width: 2rem;
        //min-width: 13rem;
        border: 2px solid red;
    }

    a {
        font-size: 0.7em;
        color: hsla(0, 0%, 100%, 0.85);
        transition: color 200ms ease-in-out;
    
        &:hover {
            color: $paleRed;
        }
        border: 2px solid green;
    }

    border: 2px solid blue;
}

.header-logo,
.header-links {
    margin: 0;
    padding: 0;
    width: max-content;
    height: max-content;
}

.header-links {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
    gap: 1.5rem;
    align-items: center;
    margin-top: 1.5rem;
}
