.header {
    background-color: $introBlue;
}

.header-container {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem 1.875rem 0 1rem;

    
    > * {
        border: 2px solid yellow;
    }

    img {
        cursor: pointer;
        width: 5.75rem;
        //min-width: 2rem;
        //min-width: 13rem;
        border: 2px solid red;
    }

    a {
        font-size: 0.7em;
        color: hsla(0, 0%, 100%, 0.85);
        transition: color 200ms ease-in-out;
    
        &:hover {
            color: $paleRed;
        }
        border: 2px solid green;
    }

    border: 2px solid blue;
}

