.intro-container {
  position: relative;
  z-index: 0;

  > * {
    position: relative;
    z-index: 3;
    text-align: center;
  }
}

.intro-images {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  //background-color: $introBlue;

  &:after {
    content: "";
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40vw;
    bottom: 3rem;
    background-color: $introBlue;
    background-image: url("/images/bg-curvy-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    @include breakpoint(lg) {
      height: 40vw;
      bottom: 0;
      background-image: url("/images/bg-curvy-desktop.svg");
    }
  }
  //border: 2px solid navy;
}

.intro-picture {
  width: 100%;
  background-color: $introBlue;
}

.intro__pic {
  position: relative;
  z-index: 3;
  width: 80%;
  max-width: 62.5rem;
  padding: 3rem 0 0 0;

  @include breakpoint(med) {
    width: 75%;
  }

  @include breakpoint(lg) {
    width: 70%;
  }

  @include breakpoint(xl) {
    width: 65%;
  }

  @include breakpoint(xxl) {
    width: 60%;
  }
}

.intro-content {
  position: relative;
  bottom: 9rem;

  @include breakpoint(med) {
    bottom: 14rem;
  }

  @include breakpoint(lg) {
    bottom: 21rem;
  }

  @include breakpoint(xl) {
    bottom: 25rem;
  }

  @include breakpoint(xxl) {
    bottom: 33rem;
  }
}

h1 {
  position: relative;
  z-index: 3;
  margin: 0;
}

.intro-contents {
  position: relative;
  z-index: 2;
  bottom: 0rem;
  //border: 2px solid firebrick;

  p {
    padding: 0;
    width: 80%;

    @include breakpoint(med) {
      padding: 0 1rem;
    }
  }
}

.intro__heading,
.intro__text,
.intro__button {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.intro__heading {
  @include breakpoint(med) {
    max-width: 90%;
    padding-right: 3rem;
    padding-left: 3rem;
    //max-width: 35rem;
  }
}

.intro__text {
  max-width: 100%;
}

.intro__button {
  margin-top: 1.5rem;
}
