.intro-images {
    position: relative;
    background-color: $introBlue;
    //border: 1px solid lawngreen;

}

.intro-picture,
.intro-graphic {
    border: 2px solid firebrick;
}

.intro__pic,
.intro__bg {
    width: 100%;
    display: block;
}

.intro__pic {
    position: relative;
    padding-top: 3rem;
}

.intro__bg {
    position: absolute;    
    z-index: 0;
    background-color: $introBlue;
    bottom: -4rem;
}

.intro__pic,
.intro__heading {
    z-index: 2;
}

.intro-content {
    position: relative;
    text-align: center;
    bottom: 3rem;
}
/*
.intro__heading {
    padding-top: 2rem;
}

.intro__text,
.intro__button {
    padding-top: 1rem;
}
*?
