.intro {
    //background-color: $introBlue;
}

.intro-container {
    position: relative;
    z-index: 0;
    //background-color: $introBlue;

    > * {
        position: relative;
        z-index: 3;
        text-align: center;
    }
}

.intro-images {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $introBlue;

    > * {
        position: relative;
        z-index: 3;
        margin: 0;
    }

    &:after {
        content: '';
        position: relative;
        z-index: 2;
        width: 100%;
        height: 40vw;
        bottom: 2rem;
        background-image: url("/images/bg-curvy-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;

        @include breakpoint(lg) {
            height: 33vw;
            background-image: url("/images/bg-curvy-desktop.svg");
        }
    }
}

.intro__pic {
    width: 80%;
    max-width: 62.5rem;
    padding: 4.5rem 0 0 0;
}

.intro-content {
    position: relative;
    bottom: 10rem;
}

h1 {
    padding: 1rem 1rem 0;
    max-width: 53.125rem;
}

p {
    padding: 1rem 3rem 0;
    max-width: 45.3125rem;
}

.intro__button {
    margin-top: 2rem;
}

