.showcase-container {
  padding: 1rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(med) {
    padding: 3rem;
    padding-top: 11rem;
    justify-content: space-between;
  }

  @include breakpoint(lg) {
    padding: 16rem 0;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
  }
  //border: 1px solid coral;
}

.showcase-image {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  //border: 2px solid wheat;

  @include breakpoint(lg) {
    display: block;
  }
}

.showcase__image {
  width: 93%;

  @include breakpoint(lg) {
    width: 90%;

    img {
      margin: auto;
      display: block;
    }
  }
}

.showcase-content {
  @include breakpoint(med) {
    padding: 3rem 0 0 4rem;
  }
  @include breakpoint(lg) {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: space-between;
    padding-left: 0;
  }

  & > * {
    margin: 0;
    padding: 0;
    //border: 1px solid teal;
  }

  //border: 2px solid hotpink;
}

.showcase__heading {
  h3 {
    margin: 0;
    margin-top: 2rem;
    padding: 0 0 0 2rem;
    //border: 1px solid purple;

    @include breakpoint(lg) {
      margin: 0;
      font-size: 1.15em;
    }
  }
}

.showcase__text {
  p {
    padding: 0 0 0 2rem;
    font-size: 0.75em;
    line-height: 1.5;

    @include breakpoint(med) {
      font-size: 0.725em;
      padding: 0 8rem 0 2rem;
    }
    @include breakpoint(lg) {
      font-size: 0.7em;
      padding: 0 3rem 0 2rem;
    }
  }
}

.showcase__link {
  margin: 0 0 0 2rem;
  padding: 0;
  width: max-content;
  font-size: 1.25em;
  text-align: left;

  a {
    // Links x 2
    display: flex;
    flex-direction: row;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid $greenCyan;

    @include breakpoint(med) {
      padding-bottom: 0.2rem;
    }

    @include breakpoint(lg) {
      padding-bottom: 0.3rem;
    }

    @include breakpoint(xl) {
      padding-bottom: 0.4rem;
    }

    @include breakpoint(xxl) {
      padding-bottom: 0.5rem;
    }

    p {
      // Text
      margin: 0;
      padding: 0 0.5rem 0 0;
      width: max-content;
      color: $greenCyan;
      //border: 1px solid violet;

      &:hover {
        color: $white;
      }
    }

    img {
      // Icon
      margin: 0;
      padding: 0;

      &:hover {
        filter: invert(0%) sepia(93%) saturate(26%) hue-rotate(283deg)
          brightness(103%) contrast(103%);
      }
      //border: 1px solid blueviolet;
    }
    //border: 1px solid lawngreen;
  }
  //border: 1px solid gold;
}
