.showcase-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(med) {
        padding: 3rem;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        padding: 5rem 0;
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
    }
    //border: 1px solid coral;
}

.showcase-image {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    //border: 2px solid wheat;
    
    @include breakpoint(lg) {
        display: block;
    }
}

.showcase__image {
    width: 95%;

    @include breakpoint(lg) {
        width: 90%;
    
        img {
            margin: auto;
            display: block;
        }
    }
}


.showcase-content {

    @include breakpoint(lg) {
        padding-left: 0;
    }
    //border: 2px solid hotpink;
}

.showcase__heading {

    h3 {
        margin-top: 2rem;
        //border: 1px solid purple;

        @include breakpoint(lg) {
            margin: 0;
            font-size: 1.1em;
        }
    }
}

.showcase__text {

    p {
        line-height: 1.5;
    }
}

.showcase__link {
    margin: 0 0 0 2rem;
    width: max-content;
    font-size: 1.25em;

    a { // Links x 2
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid $greenCyan;
        //border: 1px solid gold;

        &:hover {
            color: $white;
        }   
    }    

    p { // Text
        margin: 0;
        padding: 0 0.5rem 0 0;
        width: max-content;
        color: $greenCyan;
        //border: 1px solid violet;
        
        &:hover {
            color: $white;
        }   
    }

    img { // Icon
        margin-top: auto;
        margin-bottom: auto;
        width: max-content;
        padding: 0.1rem 0;
        //border: 1px solid blueviolet;
    }
    //border: 1px solid lawngreen;
}
