.signup {
  padding: 1.5rem;
  height: 21.5rem;
  //border: 1px solid chartreuse;
}
.signup-container {
  position: relative;
  z-index: 2;
  bottom: -7rem;
  padding: 1.5rem 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: $introBlue;
  box-shadow: 0.4rem 0.45rem hsla(0, 0%, 0%, 0.075);
  text-align: center;
  line-height: 1.4;

  input {
    width: 21rem;
  }

  button {
    padding: 1rem 4.5rem;
    font-size: 0.7em;
  }
  @include breakpoint(med) {
    margin-inline: 3rem;
  }
  //border: 1px solid aqua;
}

.signup-text {
  padding-bottom: 1rem;

  p {
    font-size: 0.8em;
  }
}

.signup__textarea {
  max-width: 85%;
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 1.75rem;
  padding-left: 1.5rem;
  background-color: white;
  color: grey;
}
