.testimonials-container {
  position: relative;
  padding: 9rem 3rem 0;

  @include breakpoint(xl) {
    padding-top: 0;
    padding-inline: 0;
  }
  @include breakpoint(xxl) {
    padding-inline: 6rem;
  }
  //border: 1px solid blue;
}

.testimonial__graphic {
  position: absolute;
  top: 9.25rem;
  left: 2.75rem;
  width: 5%;

  @include breakpoint(med) {
    top: 8.5rem;
    left: 6.5rem;
  }
  @include breakpoint(lg) {
    top: -1.5rem;
    left: 2.25rem;
  }
  @include breakpoint(xl) {
    top: -2rem;
    left: 3.5rem;
  }
  @include breakpoint(xxl) {
    top: -2.5rem;
    left: 5rem;
  }
  //border: 1px solid springgreen;
}

.testimonial-box {
  margin: 1rem 0 2rem;
  //border: 1px solid lightseagreen;

  @include breakpoint(med) {
    padding-inline: 4rem;
  }
  @include breakpoint(xl) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.testimonial {
  position: relative;
  z-index: 2;
  margin-bottom: 1.5rem;
  background-color: $testimBlue;
  padding: 1rem 1.5rem;
  border-radius: 0.325rem;
  //border: 1px solid darkred;
}

.testimonial__text {
  padding: 0;
  font-size: 0.55em;
  line-height: 1.75;
  //border: 1px solid saddlebrown;
}

.testimonial-person {
  display: flex;
  width: max-content;
  height: max-content;
  //border: 3px solid goldenrod;
}

.person-image {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;

  img {
    width: 1.75rem;
    //border: 1px solid mediumvioletred;
  }

  //border: 1px solid darkcyan;
}

.person__image {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person__name {
  margin: 0;
  padding: 0;
  width: max-content;
  font-size: 0.5em;
  font-weight: 700;
  //border: 1px solid blueviolet;
}

.person__title {
  margin: 0;
  padding: 0;
  width: max-content;
  font-size: 0.425em;
  //border: 1px solid yellowgreen;
}
